table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
* {
    background-color: saddlebrown;
}
#roast-selection {
    background-color: white;
}
#coffees {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.right-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 75%;
    text-align: center;
}
h1 {
    font-style: italic;
    font-family: "Al Tarikh";
}
#search-bar {
    background-color: white;
}
img {
    width: 100%;
    height: auto;
}